<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Fondamento:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js" defer></script>
    <title>API</title>
</head>
<body>
    <div class="box">
        
        <form action="">
            <h1>Cadastro</h1>
            <input type="text" class="nome" name="nome" autocomplete="on" placeholder="Nome">
            <input type="email" class="email" name="email" autocomplete="on" placeholder="Email">
            <input type="tel" class="tel" name="telefone" autocomplete="on" placeholder="Telefone">
            <input type="password" class="senha" name="senha" autocomplete="on" placeholder="Senha">
            <button>Cadastrar</button>
        </form>
    </div>
</body>
</html>